
/*Header classes*/
.logo {
  height: 100px;

}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
     "n c";
  grid-template-rows: 100px 1fr;  /*2 строки: 1 -60px, 2- все остальное*/
  grid-template-columns: 2fr 10fr;  /*из 12 фракций, на первую колонку 2 на вторую 10*/
  grid-gap: 10px;  /*типа отступ от друг друга*/
}

.header {
  grid-area: h;  /*типа псевдонима*/
}

.nav {
  grid-area: n;  /*типа псевдонима*/
  background-color: #EDEEF0;
}

.content {
  grid-area: c;  /*типа псевдонима*/
}

.missis {
  width: 60%;
}




.App {
  text-align: center;
}


ul li {
  list-style-type: georgian;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
